
@font-face {
    font-family: 'Oswald Light';
    src: local('Oswald Light'), url(assets/fonts/Oswald-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald Regular';
    src: local('Oswald-Regular'), url(assets/fonts/Oswald-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}